# KNeighbors machine learning

In [98]:
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd

df = pd.read_csv('breast-cancer-wisconsin.data')

## preprocessing

In [99]:
df.replace('?', -99999, inplace=True)
df.drop('id', axis='columns', inplace=True)

In [100]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

## split dataset in training and testing set

In [101]:
X =df.drop(['class'], axis='columns')
y =df['class']

In [102]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## train model

In [103]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [104]:
accuracy = clf.score(X_test, y_test)
accuracy

0.9785714285714285

## example of prediction

In [105]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,1,1,2,3,2,1]])
example_measures=example_measures.reshape(len(example_measures),-1)

In [106]:
clf.predict(example_measures)

array([2, 2], dtype=int64)